.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.profile, .courses, .about {
  flex: 1;
  margin: 1em;
}

.profile-image {
  width: 60%;
  height: auto;
   border-radius: 50%; /* Makes the image circular */
}

/* Responsive design for mobile */
@media screen and (max-width: 768px) {  /* adjust as needed for your design */
  .main-content {
    flex-direction: column;
  }

  .profile, .courses, .about {
    width: 80%;
  }

  .profile-image {
    width: 50%;
  }
}
